@import "reset.css";
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Georgia', sans-serif;
}

.container {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}

/* ======HEADER====== */
.header {
    background: url(../assets/backgrounds/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
    padding-top: 60px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

/*logo*/
.logo h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.logo p {
    font-family: 'Arial', sans-serif;
    padding-left: 4px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

/*nav*/
.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex; justify-content: center;
    column-gap: 35px;
}

.nav-item a {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #CDCDCD;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
    line-height: 1;
}

.nav-list a:hover {
    color: #fafafa;
}

/*start-screen*/
.start-screen {
    display: flex;
    justify-content: space-between;
}

.start__content {
    padding-top: 10.1875em;
    padding-right: 42px;
}
.start__content h2 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 42px;
}

.start-screen p {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    padding-bottom: 42px;
}

.make-a-friend {
    background-color: #F1CDB3;
    padding: 15px 45px;
    border-radius: 100px;
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: 0.3s;
}

.make-a-friend:hover {
    background-color: #FDDCC4;
}

/* =====ABOUT===== */
.about-block {
    display: flex;
    padding-top: 80px;
    padding-bottom: 100px;
}

.about-pets {
    padding-left: 10.938em;
}

.about-content {
    padding-left: 7.5em;
    padding-right: 10.938em;
}

.about-content h3 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 25px;
    padding-top: 14px;
}

.about-content p {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    padding-bottom: 25px;
}

.first-about-content {
    padding-bottom: 25px;
}


/* =====PETS===== */
.pets {
    background-color: #F6F6F6;
    padding-top: 70px;
}

.pets-block h3 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 60px;
}

.pets-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 59px;
}

.pets-slider {
    display: flex;
    column-gap: 90px;
}

.pets-item {
    background: #FAFAFA;
    border-radius: 9px;

    transition: 0.3s;
}

.pets-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
}

.pets-item__img img {
    border-radius: 9px 9px 0 0;
}

.left-arrow, .right-arrow{
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 16px;
    width: 52px;
    height: 52px;
    border: 2px solid #f1cdb3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    color: #292929;
    background-color: transparent;
    font-weight: bold;

    transition: 0.3s;
}

.left-arrow:hover, .right-arrow:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pets-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pets-item h5 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 30px;
}

.pets-item__img {
    padding-bottom: 30px;
}

.learn-more {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    padding: 12px 42px;
    margin-bottom: 30px;

    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;

    transition: 0.3s;
}

.learn-more:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pets__button-get-to-know {
    display: flex;
    justify-content: center;
}

button.get-to-know{
    display: flex;
    align-items: center;
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;

    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    letter-spacing: 0.0586282em;
    font-size: 17px;
    line-height: 130%;
    color: #292929;

    margin-bottom: 100px;

    transition: 0.3s;
}

button.get-to-know:hover {
    background-color: #FDDCC4;
}

/* =====HELP===== */
.help-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 80px;
}

.help__header h3 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;

    padding-bottom: 60px;
}

.help-icons-block {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.help__icons {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 3.3rem 7.5rem;
    max-width: 1030px;
    justify-content: center;

    padding-bottom: 100px;
}

.help-icons-block p {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;

    padding-top: 30px;
}

/* =====DONATION===== */
.donation {
    background: #F6F6F6;
    padding-bottom: 100px;
}

.donation-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 31px;
    padding-top: 81px;
}

.donation-info-block {
    align-self: flex-start;
    max-width: 380px;
}

.card-pick {
    padding: 1px 15px;
    max-width: 349px;
    height: 43px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f1cdb3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "Georgia", sans-serif;
    line-height: 115%;
    letter-spacing: 0.06em;
    border-radius: 9px;
    margin-bottom: 21px;
    color: #545454;
    text-decoration: none;
}

.donation-info-block h2 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;

    padding-bottom: 20px;
}

.donation-info-block h6 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;

    padding-bottom: 20px;
}

.donation-info-block p {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.card-pick p {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.subtitle {
    font-style: italic;
}

/* =====FOOTER===== */
footer {
    background: url(../assets/backgrounds/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
}

.footer-block h2 {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-block p {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.contacts, .address {
    padding-top: 17px;
    max-width: 279px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    gap: 39px;
}

.contacts a {
    display: flex;
    align-items: center;
}

.contacts a img {
    padding-right: 20px;
}

.address {
    gap: 34px;
}

.address a {
    display: flex;
    align-items: center;
}

.address a img {
    padding-right: 20px;
}

/*==== OUR PETS PAGE ====*/

/*=====header=====*/
.header-pets-page {
    background: #FFFFFF;
    padding-top: 30px;
}

.logo-pets-page h1 {
    color: #545454;
}

.logo-pets-page p {
    color: #292929;
}

.nav-item-pets-page a {
    color: #545454;
    position: relative;
    cursor: pointer;
    line-height: 1;
}

.nav-item a:after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: #F1CDB3; /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out;
}

.nav-item a:hover:after, a:focus:after {
    width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.nav-list-pets-page a:hover {
    color: #292929;
    background-size: 100% 2px;

}

.header-nav-pets-page {
    padding-bottom: 30px;
}

/*=====pets=====*/
.pets-block-pets-page h3{
    padding-bottom: 45px;
}

.pets-slider-pets-page {
    gap: 30px 40px;
    flex-wrap: wrap;
}
/*buttons control*/
.pets__control-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
}

/*coloring buttons*/
.control-btn {
    border-radius: 100px;
    width: 52px;
    height: 52px;
}

.prev-max-btn, .prev-btn {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

.num-slider-btn {
    background: #F1CDB3;
}
.num-slider-btn:hover {

}

.next-btn, .next-max-btn {
    border: 2px solid #F1CDB3;

    transition: 0.3s;
}
.next-btn:hover, .next-max-btn:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}