/*переключаем экран до 768px*/
@media screen and (max-width: 1280px) {
    /*общие настройки*/
    .container {
        padding: 0 30px;
        margin: 0 auto;
    }

    /*=====HEADER=====*/
    .header {
        padding-top: 30px;
    }

    .header-nav {

    }

    .img-puppy {
        width: 569px;
        height: 593px;
    }

    .start__content {
        flex-direction: column;
        display: flex;
        margin-bottom: 100px;
        padding: 0 125px;
    }

    .make-a-friend {
        margin: 0 auto;
    }

    .start-screen {
        flex-direction: column;
        align-items: center;
    }

    .start-screen p {
        padding-bottom: 40px;
    }

    .img-puppy {
        margin-left: 140px;
    }

/*=====ABOUT=====*/
    .about-block {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 68px;
    }

    .about-pets {
        padding: 0;
        margin-top: 52px;
    }

    .about-content {
        padding-left: 140px;
        padding-right: 140px;
    }
    /*=====PETS=====*/
    .pets {
        padding-top: 80px;
    }

    .pets-slider .pets-item:last-child {
        display: none;
    }

    .pets-slider {
        column-gap: 42px;
    }

    /* pets page */
    .pets-slider-pets-page .pets-item:nth-last-child(-n+2) {
        display: none;
    }

    .pets-slider-pets-page {
        justify-content: center;
    }

    .pets-block-pets-page h3 {
        padding-bottom: 30px;
    }

    .pets-page-wrapper {
        padding-bottom: 44px;
    }

    .pets__control-buttons {
        padding-bottom: 78px;
    }
    /*=====HELP=====*/
    .help__icons {
        gap: 55px 60px;
    }

    .help-icons-block {
        height: 113px;
        width: 170px;
    }

    /*=====DONATION=====*/
    .donation-block {
        flex-direction: column-reverse;
    }

    .donation-info-block {
        align-self: center;
    }
    .donation-dog-img {
        margin-top: 30px;
    }

    /*=====FOOTER=====*/
    .footer-block {
        flex-direction: column;
        padding-top: 10px;
    }

    .footer__information {
        gap: 60px;
        margin: 0 auto;
    }

    .footer-dog-img {
        margin: 0 auto;
        padding-top: 65px;
    }
}

@media screen and (max-width: 768px) {
     .container {
         padding: 0 10px;
         margin: 0 auto;
     }

    .logo {
        padding-right: 43px;
    }

    .burger-menu {
        display: flex;
        align-items: center;
    }

    .header {
        padding-top: 28px;
    }

    .header__nav {
        padding-bottom: 65px;
    }

    .nav {
        display: none;
    }

    .header-nav {
        justify-content: center;
    }

    .start__content {
        align-items: center;
        text-align: center;
        margin-bottom: 105px;
        padding: 0;
    }

    .start__content h2 {
        font-size: 25px;
        letter-spacing: 0.06em;
    }

    .start__content p {
        font-size: 15px;
        padding-bottom: 43px;
    }

    .about-content p {
        padding-bottom: 20px;
    }

    .img-puppy {
        width: 260px;
        height: 272px;
        margin-left: 40px;
    }

/*=====ABOUT=====*/
    .about-block {
        padding-top: 28px;
    }

    .about-content {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-content h3 {
        font-size: 25px;
        text-align: center;
    }

    .about-content p {
        text-align: justify;
    }

    .about-pets {
        width: 260px;
        height: 354px;
        margin-top: 22px;
    }

    .about-block {
        padding-bottom: 40px;
    }

/*=====PETS=====*/
    .pets {
        padding-top: 45px;
    }

    .pets-block {
        position: relative;
        width: 300px;
        margin: 0 auto;
    }

    .pets-slider .pets-item:nth-last-child(-n+2) {
        display: none;
    }

    .pets-block h3 {
        font-size: 25px;
        padding-bottom: 41px;
    }
    .pets-slider-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 114px;
    }

/*    arrows*/
    .right, .left {
        position: absolute;
        top: 75%;
    }

    .left {
        left: 20%;
    }


    .right {
        right: 20%;
    }

    button.get-to-know {
        margin-bottom: 43px;
    }

    /*=====HELP=====*/
    .help-block {
        padding-top: 42px;
    }

    .help__header h3 {
        font-size: 25px;
        padding-bottom: 41px;
    }

    .help__icons {
        justify-content: space-between;
        gap: 55px 35px;
        padding-bottom: 65px
    }

    .help-icons-block {
        width: 130px;
        height: 62px;
    }

    .help__icons .help-icons-block img {
        height: 50px;
    }

    .help-icons-block p {
        font-size: 15px;
        padding-top: 20px;
    }

    /*=====DONATION=====*/
    .donation {
        padding-bottom: 40px;
    }

    .donation-block {
        padding-top: 44px;
        padding-left: 14px;
        padding-right: 14px;
        gap: 19px;
    }

    .donation-info-block h2 {
        font-size: 25px;
        text-align: center;

        padding-bottom: 23px;
    }

    .donation-info-block h6 {
        font-size: 13px;

        padding-bottom: 25px;
    }

    .donation-info-block p {
        text-align: justify;
    }

    .card-pick p {
        font-size: 15px;
    }

    .donation-dog-img {
        margin-top: 0;
    }

    /*=====FOOTER=====*/
    .footer__information {
        flex-direction: column;
        margin: 0;
        align-items: center;
        gap: 20px;
    }

    .contacts h2, .address h2 {
        text-align: center;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
    }

    .address {
        gap: 41px;
    }

    .address h2 {
        margin: 0 auto;
    }

    .footer__information .address {
        align-items: flex-start;
    }

    .contacts, .address {
        align-items: center;
        padding-top: 21px;
    }

    .footer-dog-img {
        padding-top: 42px;
    }

    .footer-dog-img img {
        width: 260px;
        height: 269px;
    }
}