/*переключаем экран до 768px*/
@media screen and (max-width: 1280px) {
    /*общие настройки*/
    .container {
        padding: 0 30px;
        margin: 0 auto;
    }

    /*=====HEADER=====*/
    .header {
        padding-top: 30px;
    }

    .start__content {
        padding-top: 60px;
        flex-direction: column;
        display: flex;
        padding-right: 0;
        margin-bottom: 100px;
    }

    .make-a-friend {
        margin: 0 auto;
    }

    .start-screen {
        flex-direction: column;
        padding: 0 100px;
    }

    .img-puppy {
        margin-left: 140px;
    }

}